<?xml version="1.0"?>
<ruleset name="Orderadmin">

    <description>Codestyle ruleset for Orderadmin</description>

    <!-- display progress -->
    <arg value="p"/>
    <arg name="colors"/>
    <arg name="extensions" value="php,dist,phtml"/>
    <arg name="encoding" value="UTF-8"/>

<!-- inherit rules from: -->
    <rule ref="PSR2"/>
    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
    <rule ref="Generic.Formatting.SpaceAfterNot"/>
    <rule ref="Squiz.WhiteSpace.OperatorSpacing">
        <properties>
            <property name="ignoreNewlines" value="true"/>
        </properties>
    </rule>
    <rule ref="Squiz.WhiteSpace.SuperfluousWhitespace">
        <properties>
            <property name="ignoreBlankLines" value="false"/>
        </properties>
    </rule>
    <rule ref="Generic.PHP.DisallowShortOpenTag" />

    <!-- Paths to check -->
    <file>src</file>

    <exclude-pattern>*/codeception/*</exclude-pattern>
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/language/*</exclude-pattern>
    <exclude-pattern>*/module/*</exclude-pattern>
    <exclude-pattern>*.phtml</exclude-pattern>

</ruleset>
